.login-page {
  background-color: #def5e5;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #eff5f5, #f7f7f7);
  padding-bottom: 50px;
}
.login-parrent {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px #e0e0e0;
}
