.login-page {
  background-color: #8eafd0;
  height: 100vh;
  // background-image: linear-gradient(to bottom right, #8ac3dd, #aec2ca);
  background-image: url(../../../../public/images/WallpaperDog-20512824.jpg);
  background-size: cover;

  .titleFirstLogin {
      font-size: 28px;
      color: rgb(58, 58, 58);
      text-shadow: 1px 1px 1px rgb(255, 255, 255);
      margin-bottom: 10px;
      margin-top: 45px;
      line-height: 15px;
  }
  
  h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    line-height: 24px;
    margin-bottom: 10px;
  }
}
.login-parrent {
  margin-top: 20px;
  padding: 10px 20px 20px 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow:  3px 3px 8px #3d4246;
  padding-bottom: 30px;

  button {
  width: 100%;
  text-align: center !important;
  border-radius: 8px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold !important;
  margin-bottom: 0px !important;
  }
}
