.view-header {
  margin-top: -20px;

  h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 6px;
    margin-left: 20px;
    color: rgb(99, 99, 99);
    text-shadow: 1px 2px 1px rgb(230, 230, 230);
  }
}
