.logo {
  text-align: center;
  border-radius: 50px;
}
.logo-title {
  color: white;
  margin: 0px;
  line-height: 32px;

  h2 {
    margin: 0px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
  }
}
