.user-nav {
  float: right;
  margin-right: 40px;
  font-weight: bold;
  display: flex;

  a {
    color: #8c8c8c !important;
  }
  .btn-logoff {
    margin-right: 25px;
    background: #224c76;
    box-shadow: 1px 1px 2px rgb(228, 228, 228);
  }
}
