.s-pending {
  color: #007bff;
}
.s-approve {
  color: #28a745;
}
.s-reject {
  color: #dc3545;
}
.s-waitupdate {
  color: #17a2b8;
}
.s-cancel {
  color: #ffc107;
}
.status-details {
  font-weight: bold;
}
.status {
  text-align: center;
  p {
    font-size: 14px;
    border-radius: 10px;
    max-width: 130px !important;
  }
  .status-Pending {
    background-color: rgba(128, 128, 128, 0.555);
  }
  .status-Change {
    background-color: #fcce00;
  }
  .status-approval {
    background-color: #3fd603cf;
  }
  .status-Cancel {
    background-color: black;
    color: white;
  }
  .status-Reject {
    background-color: #ff3300cf;
  }
}
