.ant-layout-header {
  border-bottom: 1px solid #e0e0e0;
  max-height: 60px !important;
}
.ant-table-bordered,
.card-boxshadow {
  box-shadow: 0 0 8px #dbdbdb;
}
.ant-card-head {
  background-color: #fbfbfb !important;
}
.ant-layout-content {
  background: #f0f0f0 !important;
}
.site-card-border-less-wrapper {
  background-color: white;
  border-radius: 10px;
  // min-height: 85vh;

  p {
    font-size: 16px;
  }
}
.btn-mr15 {
  margin-right: 15px;
}
.btn-create {
  // margin-right: 25px;
  background: #224c76;
  box-shadow: 1px 1px 2px rgb(228, 228, 228);
  color: white;
  float: right;
  margin-right: 12px;

}
.btn-create:hover{
  color: white !important;
  background: #1677ff;
}
